* {
  margin: 0;
  padding: 0;
  font-family: poppis, sans-serif;
  box-sizing: border-box;
  color: #ebfffc;
}

.con {
  width: 100%;
  min-height: 100vh;

  background-repeat: no-repeat;
  background: url(weather-app-img/michael-diane-weidner-h-rP5KSC2W0-unsplash.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 400px;
  height: 500px;
  border: 1px solid #ebfffc;
  /* background: linear-gradient(135deg, #00feba, #5b548a); */
  /* background-color: orangered; */
  backdrop-filter: blur(5px);
  padding: 25px;
  border-radius: 20px;
  /* box-shadow: 6px 4px 10px 0px; */
}

.input {
  display: flex;
  align-items: center;
  width: 100%;
}

.input input {
  width: 100%;
  padding-block: 15px;
  color: #222;
  background: #ebfffc;
  padding-inline: 25px;
  margin-right: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.input button {
  border-radius: 50%;
  padding-block: 13px;
  padding-inline: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ebfffc;
}

.input button:hover {
  background-color: #222;
  color: #ebfffc;
}

.input button img {
  margin-top: 2px;
  width: 14px;
  height: 15px;
}

.main-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 35px;
}

.data-1 {
  display: flex;
  color: white;
}

.data-1 img {
  width: 35px;
  margin-right: 10px;
}

.font {
  font-size: 25px;
}

.span {
  font-size: 15px;
}

#photo {
  width: 160px;
  margin-top: 20px;
}

.temp h1 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

.temp h2 {
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
}

.temp {
  color: white;
  margin-top: 5px;
}
